.box{
    width: 100px;
    height: 100px;
}

/* .blueBox{
    background-color: blue;
    float: left;
}

.greenBox{
    background-color: green;
    float: left;
} */


img{
    width: 100px;
    height: 100px;
}

.upper{
    column-count: 4;
}
