/* selecting by tagname */
/* #Lastname{
    border: 1px solid red;
    background-color: yellow;

}

.intro,#Lastname{
    border: 1px solid red;
    background-color: yellow;

}

h1{
    border: 1px solid red;
    background-color: yellow;

}

.intro,#Lastname{
    border: 1px solid red;
    background-color: yellow;

} */

/* comma separated list of elements */
/* 
h1,p{
    border: 1px solid red;
    background-color: yellow;

} */


/* ---------------------------------------------------------*/
/* filtering selection */

/* p:first-child{
    border: 1px solid red;
    background-color: yellow;

} */


/* choose p which is first child of any element */
/* p:first-of-type{
    border: 1px solid red;
    background-color: yellow;
}


p:last-of-type{
    border: 1px solid red;
    background-color: green;
}

li:nth-child(1){
    border: 1px solid red;
    background-color: brown;
}

li:nth-last-child(1){
    border: 1px solid red;
    background-color: brown;
} 

b:only-child{
    border: 1px solid red;
    background-color: brown;
}  

b:only-of-type{
    border: 1px solid red;
    background-color: green;
}
*/
/* ---------------------------------------------------------*/
/* finding elements by reationships */

/* select direct children of div */
/* div>p{
    border: 1px solid red;
    background-color: green;
} */

/* any paragraph within the intro  */
/* .intro p{
    border: 1px solid red;
    background-color: green;
} */

/* find sibling p immediate next to ul */
/* 
ul + p{
    border: 1px solid red;
    background-color: green;
} */

/* find sibling all p next to ul */
/* ul ~ p{
    border: 1px solid red;
    background-color: green;
} */


/* ---------------------------------------------------------*/
/* attribute based selectors */

/* [id]{

}

[id = "my-Address"]{
    border: 1px solid red;
    background-color: green;
} 

#my-Address{
    border: 1px solid red;
    background-color: green;
}
*/

/* [id$=ess]{

} */

/* id starts with my */
/* [id^=my]{

} */
/* prefix of id "my-" */
/* [id|=my]{

} */

/* id contains beautiful */
/* 
[title~=beautiful]{

}
 */

/* id ends with containing 's' */

/* [id*=s]{

} 

*/


/* choose all input elements */

/* :input{
    border: 1px solid red;
    background-color: green;
} */

/* choose all elements in web page */

/* 
*{
    border: 1px solid red;
    background-color: green;
} */


/*-------------------------------------------------------------------*/











