body{
    color: white;
}

.container::before, .container::after{
    content: "Test";
    display: table;
}

.container::after{
    clear: both;
}

.container{
    background: #eaeaed;
    width: 538px;
}

.container, section, aside{
    border-radius: 6px;
}

section, aside{
    background : green;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

section{
    float: left;
    width: 340px;
}

aside{
    float: right;
    width: 158px;
}