body{ 
    background-color: rgb(112, 112, 248);
}


.container::before, .container::after{
    content: "";
    display: table;
}

.container::after{
    clear: both;
}

.container-75{
    padding: 10%;
    margin-bottom: 10%;
}

.outer{
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
}

#link{
    text-align: center;
    left:30px;
}
/*
Margin -> outer space of element
Padding -> inner space of element
*/

#email_input, #password_input{
    border-radius: 6px;
    background: white;
    color: rgb(190, 189, 189);
    margin : 1.5%;
    padding: 15px 0;
    text-align: left;
    width: 100%;
    font-family: Consolas, monaco, monospace;
    font-size: 24;
    font-stretch: 4px;
}

#submit_button {
    border-radius: 5px;
    background: green;
    color: white;
    margin: 1.5%;
    padding: 15px 0;
    float: right;
    text-align: center;
    width: 100%;
    float: right;
}

#name{
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(71, 69, 69);
    font-weight: 500;
}
