body{
    background-color: rgb(80, 80, 241);
}

table{
    margin: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

td{
    margin: 10px;
    padding: 10px 60px;
}

td:first-child{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.button {
    background-color:green;
    color: white;
    padding: 10px 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
